@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .header {
    padding: 10px 0;
  }
  .header__container {
    padding: 0 0 0 15px;
    height: 50px;
    min-height: 50px;
  }
  .header__logo {
    width: 85px;
    border-right: none;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    border-right: 0;
  }
  .header__search {
    border-right: 0;
    border-left: 0;
  }
  .header__profile {
    justify-content: flex-end;
    padding-right: 5px;
  }
  .header-burger__dots {
    margin-bottom: 0;
  }
  .header-burger__other {
    display: none;
  }
  .main__container {
    display: flex;
    justify-content: center;
  }
  .body {
    margin-right: 20px;
  }
  .projects__item {
    width: calc(33.3333333333% - 15px);
  }
}
@media screen and (max-width: 1023px) {
  .sidebar {
    display: none;
  }
  .body {
    margin-right: 0;
  }
  .footer__container {
    max-width: 850px;
    flex-wrap: wrap;
    padding: 0 28px;
  }
  .footer__logo {
    order: 10;
  }
  .footer__button-select {
    width: 180px;
  }
  .footer__nav {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
  .header__container {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    min-height: 100%;
    padding: 0 15px;
  }
  .header__logo {
    height: 100%;
    order: 1;
  }
  .header__search {
    order: 4;
    height: 100%;
    width: 100%;
    background: rgba(208, 208, 208, 0.1607843137);
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    margin-right: 0;
  }
  .header__profile {
    order: 2;
  }
  .header__burger {
    order: 3;
    border-left: 0;
    min-height: 50px;
    width: 7%;
  }
  .header-search__input {
    padding: 16px 0 16px 44px;
  }
  .main {
    margin-top: 105px;
  }
  .body > * {
    padding: 15px;
  }
  .profile__tools {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .profile__body {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .profile__photo {
    width: 120px;
  }
  .skills__item {
    width: 100%;
    max-width: none;
  }
  .skills-item__header {
    justify-content: space-between;
  }
  .footer {
    padding: 25px 0 20px 0;
  }
  .footer__container {
    padding: 0 28px;
  }
  .footer__fast-access {
    margin-left: 0;
  }
}
@media screen and (max-width: 575px) {
  .header__profile {
    max-width: none;
    width: auto;
    position: relative;
    left: 25%;
  }
  .header-profile__body {
    display: none;
  }
  .profile__buttons {
    /*justify-content: center;*/
  }
  .profile__button {
    /*margin-right: 0;*/
    width: 100%;
    align-self: center;
    max-width: 300px;
    margin-top: 10px;
  }
  .projects__items {
    /*flex-wrap: wrap;*/
  }
  .projects__item {
    width: calc(50% - 15px);
  }
  .footer__fast-access {
    margin-bottom: 25px;
  }
  .footer__language {
    padding-right: 15px;
  }
}
@media screen and (max-width: 425px) {
  .profile__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile__button {
    margin-right: 0;
  }
  .projects__items {
    justify-content: center;
  }
  .projects__item {
    width: 100%;
  }
}