@import "null.scss";

%block-bg {
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}

.page {
  min-height: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
}

.btn-show-more {
  color: #0275B1;
  text-transform: uppercase;
  font-weight: 700;
}

.block-title {
  font-size: 18px;
  line-height: 17px;
  font-weight: 700;
}

.item-title { 
  font-size: 14px;
  line-height: 150%;
  color: #181818;
  font-weight: 700;
} 

/*--------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  flex: 0 0 auto;
  min-width: 320px;
  &__container {
    max-width: 1400px;
    display: flex;
    min-height: 80px;
    align-items: center;
    padding: 0 0 0 10px;
    box-sizing: content-box;
  }
  &__logo {
      width: 110px;
      border-right: 1px solid #F4F4F4;
      height: 80px;
      display: flex;
      justify-content: center;
   }
  &__logo-img {
      align-self: center;
      height: 46px;
      width: 46px;
      box-sizing: content-box;
  }
   &__menu {
      max-width: 450px;
      width: 100%;
      margin: 0 17px;
   }
   &__burger {
    text-transform: uppercase;
    font-weight: 700;
    border-right: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    min-height: 80px;
    max-width: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}

.menu {
   &__list {
   display: flex;
   justify-content: space-around;
   }
   &__item {
      padding: 0 10px;
      cursor: pointer;
      position: relative;
   }
   &__link-notify {
      font-size: 9px;
      color: #FFFFFF;
      font-weight: 600;
      line-height: 9px;
      text-transform: uppercase;
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      bottom: 33px;
      right: 10px;
      background: linear-gradient(215.49deg, #FFB75E 5.4%, #ED8F03 93.45%);
      text-align: center;
      align-self: center;
      display: inline-block;
      padding: 3px 2px;
   }
   &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__link-icon {
      margin: 0 0 10px 0;
   }
   &__link-text {
      text-transform: uppercase;
      font-weight: 700;
   }
}

.header-search {
   flex-grow: 1;
  /*min-width: 250px;     Или все-таки нужно указывать ширину/высоту?? ну высоту можно тут да, а шмрину можно просто растянуть как ты и сделал, так что все хорошо
  max-width: 365px;*/
   border-right: 1px solid #F4F4F4;
   border-left: 1px solid #F4F4F4;
   margin-right: 30px;
   height: 80px;
   display: flex;
   flex-shrink: 0;
   &__form {
      width: 100%;
      padding: 0 33px;
      align-self: center;
   }
   &__input {
      width: 100%;
      font-size: 16px;
      color: #181818;
      line-height: 15px;
      background: url("../img/icons/search.svg") left center no-repeat;
      padding-left: 44px;
   }
   &__button {
      display: none;
   }
}
.header-profile {
   display: flex;
   align-items: center;
   max-width: 330px;
   width: 100%;
   &__photo {
      margin-right: 15px;
   }
   &__user {
      text-transform: uppercase;
      margin-bottom: 10px;
   }
   &__user-you {
      color: rgba(24, 24, 24, 0.2);
   }
   &__user-name {
      font-weight: 700;
      margin-right: 10px;
   }
   &__info {
      color: #747474;
   }
   /*._green {  не называть так классы */
   &__value {
      color: #02B033;
      position: relative;
      padding-right: 15px;
      background: url("../img/icons/arrow-up-right.svg") 95% 1px no-repeat;
   }
}

.header-burger {
  &__dots {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #181818;
    position: relative;
    display: block;
    margin-bottom: 20px;
    &::before, 
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: block;
      border-radius: 50%;
      background-color: #181818;
    }
    &::before {
      right: 8px;
    }
    &::after {
      left: 8px;
    }
  }
}
/*----------------------------------------------*/

.main {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 1 0 auto;
  &__container {
    display: flex;
  }
}

.body {
  max-width: 850px;
  width: 100%;
  margin-right: 40px;
  // width: 850px / 1180px * 100%;
}

.profile {
  padding: 20px 30px;
  @extend %block-bg;
  background-image: url("../img/img/Rectangle_3.png");
  background-repeat: no-repeat;
  margin-bottom: 31px;
  &__tools {
    display: flex;
    justify-content: space-between;
  }
  &__tool {
    min-height: 36px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &_edit {
      position: relative;
      padding-left: 35px;
      margin-right: 10px;
      &:before {
        content: '';
        width: 16px;
        right: 16px;
        display: block;
        position: absolute;
        top: 0px;
        left: 10px;
        bottom: 4px;
        background: url("../img/icons/edit.svg") center center no-repeat;
      }
    }
  }
  &__tool-upload {
    opacity: 0.5;
  }
  &__tools-wrap {
    display: flex;
  }
  &__dots {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #181818;
    position: relative;
    display: block;
  }
  &__dots:before, &__dots:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    border-radius: 50%;
    background-color: #181818;
  }
  &__dots:before {
    bottom: 6px;
  }
  &__dots:after {
    top: 6px;
  }
  &__body {
    margin-top: 104px;
    display: flex;
    align-items: center;
  }
  &__photo {
    margin-right: 25px;
  }
  &__info {
    padding-top: 25px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    position: relative;
    padding-right: 25px;
    &:after {
      content: '';
      width: 16px;
      right: 16px;
      display: block;
      position: absolute;
      top: 0px;
      left: 145px;
      bottom: 2px;
      border-radius: 3px;
      background: url("../img/icons/Logo_gold.svg") center center no-repeat;
    }
  }
  &__location {
    line-height: 15px;
    position: relative;
    display: block;
    padding-left: 25px;
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 3px;
      left: 0px;
      bottom: 0px;
      border-radius: 3px;
      background: url("../img/icons/navigation.svg") center center no-repeat;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 14px;
  }
  &__buttons {
    display: flex;
    /*flex-wrap: wrap;*/
  }
  &__button {
    height: 32px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #0275B1;
    background: #FFFFFF;
    border: 1px solid #0275B1;
    border-radius: 4px;
    padding: 4px 15px;
    transition: background .9s ease-in-out, color .2s ease-in-out;
    &_blue {
      margin-right: 15px;
    }
    &:hover {
      color: #FFFFFF;
      background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
      transition: background 2s ease-in-out, color .4s ease-in-out;
    }
  }
  }

/*---------------------------------------*/
// .sidebar {
//   width: 290px / 1180px * 100%;
// }

.sidebar-block {
  @extend %block-bg;
  padding: 25px 30px 30px 25px;
  margin-bottom: 20px;
 }

.sidebar-header {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #F4F4F4;
}

.blue-link { /*так можно через запятую общие значения указать?*/
  color: #0275B1;
  text-transform: uppercase;
  font-weight: 700;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__count {
  font-size: 52px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0275B1;
  }
  &__text {
    font-size: 14px;
    line-height: 150%;
  }
}

.visitors__item { /*если стили у этих айтемов схожи- может как то их в коде назвать Одинаково?*/
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.visitors-item {
  &__photo {
    margin-right: 15px;
  }
  &__name {
    font-size: 13px;
    line-height: 12px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}

.recomend__items {
    margin-bottom: 30px;  
}

.recomend-item {
  &__link { /*если стили у этих айтемов схожи- может как то их в коде назвать Одинаково?*/
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__video {
    margin-right: 15px;
  }
  &__name {
    font-size: 13px;
    line-height: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}

/*----------------------------------------*/

.tabs {
  &__items {
    display: flex;
    height: 50px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 40px;
    border: 1px solid #E7E7E7;
    background: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .4s ease-in-out, color .2s ease-in-out;
    
    &_01 {
      border-top-left-radius: 5px;
    }                 
    &_03 {
      border-top-right-radius: 5px;
    }
    &:hover {
      background: #E7E7E7;
      transition: background .2s ease-in-out;
    }
    &:focus {
      position: relative;
      bottom: 10px;
      height: 50px;
      color: #ffffff;
      background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
      border-radius: 4px 4px 0px 0px;
      transition: background .5s ease-in-out, color .2s ease-in-out;
    }
  }
  &__line {
    position: relative;
    bottom: 11px;
    border-top: 1px solid #E7E7E7;
    height: 50px;
    background: linear-gradient(180deg, rgb(227 231 235 / 26%) 0%, rgb(222 223 224 / 0%) 100%); /* TODO У меня редактор показывает ошибку, но хром скушал как то, возможно лучше переписать, а то в разных браузерах могут быть проблемы */
  }
}

/*----------------------------------------*/

.about {
  @extend %block-bg;
  padding: 30px;
  position: relative;
  bottom: 30px;
  &__title {
    margin-bottom: 15px;
  }
  &__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}

/*-------------------------------------------*/

.projects {
  @extend %block-bg;
  padding: 30px;
  &__title-wrap {
    margin-bottom: 25px;
  }  
  &__count {
    font-size: 17px;
    line-height: 17px;
    color: #747474;
  }
  &__title {
    display: inline-block;
    margin-right: 15px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
  }
 }

.projects-item {
  &__link {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &__photo {
    transition: transform .3s linear;
    margin-bottom: 15px;
    &:hover {
      transform: scale(1.02);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 5px;
  }
}

/*-------------------------------------------*/

.skills {
  @extend %block-bg;
  padding: 30px;
  margin-top: 20px;
  &__title {
    margin-bottom: 24px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
  }
  &__item {
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    padding: 14px 20px;
    flex-grow: 1;
    max-width: 250px;
  }
}

.skills-item {
  &__header {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
  }
  &__quantity {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    text-align: right;
    color: #0275B1;
  }
  &__title {
    margin-right: 45px;
    margin-bottom: 5px;
  }
  &__body {
    display: flex;
  }
  &__photo {
    margin-left: -10px;  /*так можно ? Да, норм */
    display: block;
  }
  &__photo_count {
    display: flex;
    width: 24px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #0275B1;
    border-radius: 50%;
  }
}

/*------------------------------------------*/

.experience {
  @extend %block-bg;
  padding: 30px;
  margin-top: 20px;
  &__title {
    margin-bottom: 25px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    line-height: 150%;
  }
}

.experience-item {
  &__title {
    margin-bottom: 10px;
  }
  &__img {
    margin-right: 16px;
  }
  &__span {
    display: inline-block;
    margin-bottom: 5px;
  }
  &__text {
    margin-top: 5px;
  }
}

.experience-span-opasity {
  opacity: .75;
}

.experience-span-blue {
  color: #0275B1;
  font-weight: 600;
}

/*-----------------------------------------------*/

.education {
  @extend %block-bg;
  padding: 30px;
  margin-top: 20px;
  &__title {
    margin-bottom: 25px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    line-height: 150%;
  }
}

.education-item {
  &__img {
    margin-right: 16px;
  }
  &__title {
    margin-bottom: 10px;
  }
}

.education-span-opasity {
  display: block;
  margin: 5px 0 10px 0;
  opacity: .75;
}

/*-----------------------------------------------*/

.footer {
  padding: 30px 0 45px 0;
  border-top: 1px solid #E7E7E7;
  background:  #F7F9FB;
  background-image: linear-gradient(180deg, rgba(241, 244, 248, 0.8) 0%, rgba(241, 244, 248, 0) 100%);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  &__container {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
  }

  &__logo {
    flex-shrink: 0;
    padding-right: 25px;
  }
}

.footer-logo {
  &__img {
    display: block;
    width: 46px;
    margin-bottom: 12px;
  }
  &__text {
    display: block;
    width: 61px;
  }
}

.footer-title {
  font-weight: 600;
  margin-bottom: 23px;
}
.footer__nav {
  flex-shrink: 0;
}

.footer-nav {
  &__cols {
    display: flex;
  }
  &__col:not(:last-child) {
    padding-right: 55px;
  }
  &__col:last-child {
    margin-right: 20px;
  }
  &__link {
    margin-bottom: 12px;
  }
}
.footer__buttons {
  margin-left: 15px;
  margin-right: 15px;
}

.footer__button {
  height: 32px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #0275B1;
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  transition: background-color .4s ease-in-out, color .2s ease-in-out;
  background-position: 137px 7px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  &_question {
    color: #0275B1;
    background-image: url("../img/icons/help-circle__blue.svg");
    margin-bottom: 10px; 
    &:hover {
      color: #ffffff;
      background-color:  #0275B1;
      background-image: url("../img/icons/help-circle.svg");
    }
  }   // Я _ ГЕНИЙ !!!!!! 
  &_settings {
    color: #0275B1;
    background-image: url("../img/icons/settings.svg");
    &:hover {
      color: #ffffff;
      background-color:  #0275B1;
      background-image: url("../img/icons/settings_white2.svg");
    }
  }
  &_select {
    height: 32px;
    width: 270px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 4px 15px;
    background-color: #FFFFFF; 
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background-image: url("../img/icons/chevron-down.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 95% center;
  }
}
